
<div class="auth-wrapper">
  <div class="auth-container">
    <h1>{{ isLoginMode ? '¡Bienvenido de vuelta!' : 'Únete a nuestra comunidad' }}</h1>
    <p *ngIf="isLoginMode">
      Inicia sesión y sigue donde lo dejaste. ¿Nuevo aquí? 
      <a href="javascript:void(0)" (click)="toggleMode()">Crea una cuenta</a> y sé parte de algo especial.
    </p>
    <p *ngIf="!isLoginMode">
      Regístrate y descubre una experiencia única. ¿Ya tienes cuenta? 
      <a href="javascript:void(0)" (click)="toggleMode()">Inicia sesión</a>.
    </p>

    <!-- <form [formGroup]="isLoginMode ? loginForm : registerForm" (ngSubmit)="onSubmit()"> -->
    <form [formGroup]="isLoginMode ? loginForm : registerForm">
      <div *ngIf="!isLoginMode" class="input-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" type="text" placeholder="Tu nombre" />
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="tucorreo@ejemplo.com" />
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <input id="password" formControlName="password" type="password" placeholder="********" />
      </div>

      <button type="submit" class="auth-button">{{ isLoginMode ? 'Iniciar Sesión' : 'Registrarse' }}</button>
    </form>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</div>
