
.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    //background-image: url('assets/login/background_login.jpg'); /* Ruta de la imagen */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.auth-container {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    text-align: center;
    transition: transform 0.3s;
}

.auth-container h1 {
    font-size: 24px;
    color: #333;
}

.auth-container p {
    color: #666;
    margin: 10px 0 20px;
}

.auth-container a {
    color: #74b9ff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.auth-container a:hover {
    text-decoration: underline;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #74b9ff;
    outline: none;
}

.auth-button {
    width: 100%;
    padding: 12px;
    background-color: #74b9ff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-button:hover {
    background-color: #5c99e0;
}

.error {
    color: red;
    font-size: 12px;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
}
