@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Inter", sans-serif;
}

// Estas son las variables globales de colores
:root {
  --primary: #000000;
  --secondary: #6c757d;
  --light: #f8f9fa;
}
